#flash {
  width: 1226px;
  flex-shrink: 0;
  height: 398px;
  margin-top: 20px;
}

#flash > h2 {
  height: 58px;
  line-height: 58px;
}

#flash ul {
  display: flex;
  justify-content: space-between;
}

#flash ul li {
  width: 234px;
  height: 352px;
  background-color: #fafafa;
  border-top: 1px solid #ffa500;
}

#flash ul li:nth-child(2) {
  border-color: #008000;
}

#flash ul li:nth-child(3) {
  border-color: #00f;
}

#flash ul li:nth-child(4) {
  border-color: #f00;
}

#flash ul li:nth-child(5) {
  border-color: #008080;
}

#flash ul li a {
  display: block;
  font-size: 14px;
  text-align: center;
}

#flash ul li a img {
  width: 160px;
  height: 160px;
  opacity: 0.8;
  margin: 37px;
}

#flash ul li a .discount {
  font-size: 12px;
  color: #b0b0b0;
  margin: 15px 0;
}

#flash ul li a .item_price {
  color: #1baeae;
}

#flash ul li a:hover img {
  opacity: 1;
}

#flash .time {
  background-color: #f1eded;
}

#flash .time .name {
  margin-top: 53px;
  font-size: 21px;
  color: #ef3a3b;
}

#flash .time img {
  width: 34px;
  height: 53px;
}

#flash .time .text {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.54);
}

#flash .time .flashTime {
  margin: 28px 33px 0;
  color: #fff;
  font-size: 24px;
  line-height: 46px;
  display: flex;
  justify-content: center;
}

#flash .time .flashTime .box {
  width: 46px;
  height: 46px;
  background-color: #605751;
}

#flash .time .flashTime .dosh {
  height: 46px;
  font-size: 28px;
  color: #605751;
}

#recommend {
  width: 1226px;
  position: relative;
  flex-shrink: 0;
  height: 730px;
  margin-top: 20px;
  background-color: #f5f5f5;
}

#recommend > h2 {
  height: 58px;
  line-height: 58px;
}

#recommend .more {
  position: absolute;
  top: 18px;
  right: 30px;
}

#recommend .more:hover {
  color: #1baeae;
}

#recommend ul {
  display: flex;
  height: 614px;
  justify-content: space-between;
  align-items: space-between;
  flex-wrap: wrap;
}

#recommend ul li {
  width: 234px;
  height: 314px;
  background-color: #fff;
  margin-bottom: 20px;
  margin-left: 4px;
  margin-right: 6px;
}

#recommend ul li:nth-child(1) .hot-image,
#recommend ul li:nth-child(6) .hot-image {
  width: 100%;
  height: 100%;
  margin: 0;
}

#recommend ul li:hover {
  box-shadow: 0px 0px 30px #ccc;
}

#recommend ul li:hover .comment {
  transform: translateY(0);
}

#recommend ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  text-align: center;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

#recommend ul li a .info {
  width: 104px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  color: #fff;
  font-size: 10px;
}

#recommend ul li a .new {
  background-color: #83c44e;
}

#recommend ul li a .discount {
  background-color: #f00;
}

#recommend ul li a > p {
  height: 25px;
  line-height: 25px;
  font-size: 14px;
}

#recommend ul li a .item_price {
  color: #1baeae;
}

#recommend ul li a .counter {
  height: 15px;
  line-height: 15px;
  color: #aaa;
  font-size: 12px;
}

#recommend ul li a img {
  width: 160px;
  height: 160px;
  margin: 10px 0 20px;
}

#recommend ul li a .comment {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(101%);
  transition: transform 0.4s;
  box-sizing: border-box;
  height: 70px;
  padding: 10px 0 0 30px;
  background-color: #1baeae;
  color: #fff;
  text-align: left;
}

#recommend ul li a .comment p {
  font-size: 12px;
  margin-top: 5px;
}
