/*detail*/
.dc {
  width: 100%;
  height: 58px;
  background: #f0f0f0;
}

.dc .content {
  height: 58px;
  width: 1226px;
}

.dc .content .title {
  width: 300px;
  height: 58px;
  line-height: 58px;
  font-size: 22px;
  font-weight: bold;
}

.dc .content nav {
  display: inline-block;
  width: 170px;
  height: 58px;
  line-height: 58px;
}

.dc .content nav li {
  font-size: 14px;
  float: left;
  display: block;
  margin: 0px 5px;
}

.dc .content nav li a {
  color: #333;
  font-size: 14px;
}

.dc .content nav li a:hover {
  color: #ff6700;
}

.intro .left {
  width: 560px;
}

.intro .left > img {
  width: 100%;
  height: 100%;
}

.intro .left .smallbox {
  display: none;
  background-color: rgba(0, 255, 0, 0.3);
  width: 280px;
  height: 280px;
  position: absolute;
  top: 0;
  left: 0;
}

.intro .left .swiper-container {
  width: 100%;
  height: 100%;
  margin: 20px auto;
  padding: 0 34px;
  box-sizing: border-box;
}

.intro .left .swiper-container .swiper-button-prev {
  left: 0;
  background-position: left;
}

.intro .left .swiper-container .swiper-button-next {
  right: 0;
  background-position: right;
}

.intro .right {
  width: 620px;
  background: #f8f8f8;
  padding-bottom: 80px;
}

.intro .right .sub_title {
  font-size: 16px;
  color: #b0b0b0;
  line-height: 20px;
  height: 100px;
  margin-top: 44px;
}

.intro .right .item_price {
  width: 180px;
  font-size: 18px;
  color: #1baeae;
  height: 100px;
  font-weight: bold;
  float: right;
}

.intro .right .item_price del {
  font-size: 14px;
  margin-left: 5px;
  color: #b0b0b0;
  text-decoration: line-through;
}

.intro .right .order {
  height: 50px;
  float: right;
}

.intro .right .order .car {
  height: 50px;
  width: 156px;
  border: none;
  background: #1baeae;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  margin-right: 40px;
}

.intro .right .order .car:hover {
  border: 1px solid #fff;
}

.swiper-container {
  width: 300px;
  height: 100%;
}

.swiper-container .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
}

.pro-policy {
  height: 100px;
  line-height: 50px;
  float: right;
  margin-top: 80px;
}

.pro-policy a {
  display: inline-block;
  *zoom: 1;
  *display: inline;
  cursor: default;
  white-space: nowrap;
  color: #b0b0b0;
}

.pro-policy span i {
  font-size: 20px;
  display: inline-block;
  *zoom: 1;
  *display: inline;
  font-style: normal;
  vertical-align: middle;
}

.pro-policy span em {
  font-style: normal;
  display: inline-block;
  *zoom: 1;
  *display: inline;
  margin-left: 2px;
  vertical-align: middle;
}

.tb-extra {
  font-size: 13px;
  margin-top: 40px;
  height: 70px;
  width: 55%;
  float: left;
}

.tb-extra dl {
  overflow: hidden;
  *zoom: 1;
}

.tb-extra dl dt {
  float: left;
  width: 60px;
  height: 22px;
  line-height: 22px;
  margin-bottom: 4px;
  color: #6c6c6c;
}

.tb-extra dl dd a {
  float: left;
  margin-bottom: 15px;
  margin-right: 15px;
  height: 22px;
  line-height: 22px;
  color: #6c6c6c;
}

.goods img {
  width: 100%;
  margin-top: 2px;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  font-family: Microsoft Yahei;
}
@media screen and (max-width: 1225px) {
  body {
    width: 1226px;
  }
}
img {
  border: none;
  max-width: 100%;
  max-height: 100%;
}
a {
  border: none;
  text-decoration: none;
  color: #000;
}
.border {
  border: 1px solid #f00;
}
.center {
  margin: 0 auto;
}
.w {
  width: 1226px;
  margin: 0 auto;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clear {
  clear: both;
}
.clearfix::after {
  content: "";
  height: 0;
  display: block;
  clear: both;
  visibility: hidden;
}
.mt20 {
  margin-top: 20px;
}
.mt10 {
  margin-top: 10px;
}
.ml20 {
  margin-left: 20px;
}
.ml40 {
  margin-left: 40px;
}
.mr40 {
  margin-right: 40px;
}
.mb20 {
  margin-bottom: 20px;
}
.border2 {
  border: 2px solid #ff6700;
}
.ft20 {
  font-size: 20px;
}
.ftbc {
  color: #ff6700;
  font-weight: bold;
}
.pr {
  padding-right: 40px;
}
.h3 {
  font-size: 22px;
  font-weight: bold;
}
