.size-container {
  color: rgb(0, 0, 0);
  font-size: 0.9rem;
  line-height: 1.5;
  box-sizing: border-box;
  display: block;
  margin: 1rem;
  width: 380px;
  padding: 2px;
}

.fa-ruler-horizontal {
  color: rgb(21, 158, 149);
}

.g-flow-xs {
  margin: 0.4rem 0 0 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -5px;
  margin-left: -5px;
  padding-bottom: 10px;
}

.g-flow-xs img {
  width: 60px;
  padding: 0 0.1rem;
}
.g-flow-lg {
  margin-bottom: 0.4rem;
  display: block;
  text-align: right;
}
.fa-tools {
  color: rgb(93, 98, 100);
}

.g-table-a {
  width: 370px;
  border-top: 1px solid rgb(193, 194, 193);
  border-bottom: 1px solid rgb(193, 194, 193);
  border-collapse: collapse;
}
.g-tr th,
td {
  border-bottom: 1px solid rgb(193, 194, 193);
  transition: all 0.2s ease;
  padding: 0.5rem 1rem;
}
.g-tr th {
  background-color: rgb(246, 247, 246);
}
.g-foot-sm {
  margin-top: 10px;
}

.g-align-tc {
  width: 370px;
  border: 1px solid rgb(193, 194, 193);
  border-radius: 5px;
  text-align: center;
  padding: 0.5rem 0;
}
